/*DUPLICERAD KOD RENSA!!*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button input select textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
video {
    display: inline-block;
    width:280px;
    height:auto;
}

#container{
    width:320px;
    padding:0 auto;
    margin:0 auto ;
    overflow:hidden;
    position:relative;
    display:block;
    border:none;
    max-width: 96%;
}
#header img{
    display:block center;
    width:100px;
    height:100px;
}


#header{
    background-image:url(../Pics/Logotry3.png);
    background-repeat:no-repeat;
    background-size:35%;
    background-position:center;
    height:100px;
    max-width:100%;
    width:320px;
}
#header a:hover{
    background-image:url(../Pics/Logotry3.png);
    background-repeat:no-repeat;
    background-size:35%;
    background-position:center;
    height:100px;
    max-width:100%;
    width:320px;
}
#context{
    clear:both;
    padding-bottom: 3em;
    border:none;
    width:300px;
    margin: 0 auto;
    padding:0;
    float:center;
    max-width: 96%;
}

#WWpto {
    width:100px;
    height:350px;
}
#context ul ol li{
    list-style:none;
    display:block;
}

#navigation {
    list-style-type:none;
    width:300px;
    margin-left: 20px;
    padding:10px; 
    background-color:#FFFFFF;
    float:center;
    max-width: 96%;
    display:block;
    
}

article{
    width:280px;
    max-width: 96%;
    line-height:1.5em;
}

#navigation ul li a{
    display:inline;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
    list-style-type:none;
    padding-left:1px;
    text-align:center;
    max-width: 96%;
    
}
#navigation a:link,a:visited{
    display:inline;
    font-size:10px;
    font-style:italic;
    text-align:right;
    padding:2px;
    padding-right:20px;

    max-width: 96%;
}