
video {
    display: inline-block;
    width:280px;
    height:auto;
}

#container{
    width:500px;
    position:relative;
    display:block;
    max-width: 96%;
    border:none;
}
#header img{
    display:block center;
    width:100px;
    height:100px;
}


#header{
    background-image:url(../Pics/Logotry3.png);
    background-repeat:no-repeat;
    background-size:35%;
    background-position:center;
    height:100px;
    max-width:100%;
    width:320px;
}
#header a:hover{
    background-image:url(../Pics/Logotry3.png);
    background-repeat:no-repeat;
    background-size:35%;
    background-position:center;
    height:100px;
    max-width:100%;
    width:320px;
}
#context{
    clear:both;
    width:500px;
    float:center;
    max-width: 96%;
    border:none;
}

#context ul ol li{
    list-style:none;
    display:block;
}

article{
    width:450px;
}




