/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Indie+Flower);



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
label,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
	nav{
    display:block;
}
	html, body, #container { height: 100%; }
    body > #container { height: auto; min-height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


#container{
    border-style:inset;
    border-width:3px;
    border-color:#88998D;
    width:960px;
    padding:5px;
    margin:0 auto ;
    background-color:#FFFFFF;
    overflow:hidden;
}

#header{
    width:960px;
    height:200px;
    padding:0 auto;
    margin:0 auto; 
    background-color:#FFFFFF;
    text-align:center;
}
#header img{
    display:block center;
    width:200px;
    height:200px;
}


#context{
    padding-bottom: 3em;
    background-color:#FFFFFF;
    border-style:inset;
    border-width:3px;
    border-color:#88998D;
    width:730px;
    margin: 0 auto;
    padding:0 auto;
    float:right;
    
}
#footer {
    
    clear: both;
    position: relative;
    text-align: center;
    font-weight: normal;
    background-color:#FFFFFF;
    width:960px;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    margin:0 auto;
}

#main section{

}
#commentblog {
    font-family:Arial;
    font-style:italic;
    font-weight:300;
    color:navy;
}
#navigation {
    
    list-style-type:none;
    width:180px;
    padding:1px;
    margin:0; 
    background-color:#FFFFFF;
    float:left;
    display:block;
    font-weight:bold;
    }
#WWpto {
    display:block;
    width:100px;
    height:350px;
}
h1 {
    font-family:Arial;
    font-size:24px;
    color:#000000;
    
}
h2 {
    font-family:Arial;
    color:#000000;
    font-size:20px;
    line-height:1.5em;
}
h3 {
    font-family:Arial;
    font-size:18px;
    color:#000000;
    line-height:1.5em;
}
p{
    font-family:Arial;
    font-size:14px;
    color:#000000;
    line-height:1.5em;
}
article{
    width:700px;
    box-shadow: 10px 10px 5px #888888;
    padding:5px;
    margin:5px;
    margin-bottom:20px;
    line-height:1.5em;
}


.active{
    background:url("../Pics/Logotry.png");
    background-color:#1b1b1b;
    background-repeat:no-repeat;
    background-position:center; 
}
#navigation ul li a{
    display:block;
    width:180px;
    border-style:solid;
    border-width:1px;
    border-color:#88998D;
    list-style-type:none;
    margin:0;
    padding-left:5px;
    text-align:center;
    
}
#navigation a:link,a:visited{
    display:block;
    font-weight:bold;
    color:#000000;
    background-color:#FFFFFF;
    width:170px;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
#navigation a:hover{
    background-color:gray;
}



#meny a
{
    position:relative;
}
#meny a
{
    width:70px;
    height:24px;
    display:block;
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
}
#meny li 
{
    
    float:left;
    list-style-type:none;
    margin-right:10px;
}

#homea a{background-position: 0 -48px}
#homea a:hover {background-position: 0 0}
#laboa a{background-position: 0 -144px}
#laboa a:hover {background-position: 0 -96px}
#presenta a{background-position: 0 -240px}
#presenta a:hover {background-position: 0 -192px}
#kontakta a{background-position: 0 -336px}
#kontakta a:hover {background-position: 0 -288px}
#galleria a{background-position: 0 -240px}
#galleria a:hover {background-position: 0 -192px}


#galleriet a 
{
    float: left;
    background:white;
    display:inline;
	z-index:0;
    position:relative;
    margin: 20px 20px 30px;
	padding: 10px 10px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;

}

#galleriet a:after 
{
	color:navy;
	font-family: 'Indie Flower', cursive;
    font-size:20px;
    font-weight:600;
	content: attr(title);
	position: relative;
	top:15px;
}

#galleriet img 
{
    display:block;
    height:100px;
    width:inherit;
}
#galleriet a:nth-child(1n)
{
	-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); 
	transform: rotate(2deg); 
}

#galleriet a:nth-child(2n)
{
	-webkit-transform: rotate(7deg);  
	-moz-transform: rotate(7deg); 
	transform: rotate(7deg); 
}
#galleriet a:nth-child(3n) { 
	-webkit-transform: rotate(-13deg);  
	-moz-transform: rotate(-13deg); 
	transform: rotate(-13deg); 
}

#galleriet a:nth-child(4n) { 
	-webkit-transform: rotate(-2deg);  
	-moz-transform: rotate(-2deg); 
	transform: rotate(-2deg); 
}

#galleriet a:nth-child(5n) { 
	-webkit-transform: rotate(-8deg);  
	-moz-transform: rotate(-8deg); 
	transform: rotate(-8deg); 
}

#galleriet a:nth-child(6n) { 
	-webkit-transform: rotate(12deg);  
	-moz-transform: rotate(12deg); 
	transform: rotate(12deg); 
}
#galleriet a:nth-child(7n) { 
	-webkit-transform: rotate(-12deg);  
	-moz-transform: rotate(-12deg); 
	transform: rotate(-12deg); 
}
#galleriet a:nth-child(8n) { 
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
}

#galleriet a:hover 
{
    -webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5);
    transform: scale(1.5);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
    position:relative;
}